@page
@model SearchResults
@{
    ViewData["Title"] = "Search results";
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		
		<govuk-error-summary>
			<govuk-error-summary-item asp-for="Data.Postcode" />
			<govuk-error-summary-item asp-for="Data.Subjects" />
		</govuk-error-summary>
		
		<h1 class="govuk-heading-l">Search results</h1>

		@if (Model.Data.Results != null)
		{
			<p class="govuk-body govuk-!-font-size-27"><strong>@(Model.Data.Results.Count == 0 ? "No" : Model.Data.Results.Count)</strong> @(Model.Data.Results.Count != 1 ? "results" : "result") for @Model.Data.LocalAuthority</p>
		}
	</div>
</div>

<div class="govuk-grid-row">
	
	<form>

		<div class="govuk-grid-column-one-third">
			<div class="app-results-filter" data-module="results-filter">
				<h2 class="govuk-heading-m">Filter results</h2>
				
				@foreach (var item in Model.Data.AllSubjects.Keys)
				{
				<div class="app-c-option-select js-collapsible" data-module="option-select">
					  
					<div class="app-c-option-select__heading js-container-heading">
						<button class="js-container-button app-c-option-select__title app-c-option-select__button" type="button" id="option-select-title-@item.ToString().ToSeoUrl()" aria-controls="list-of-@item.ToString().ToSeoUrl()">@item.DisplayName()</button>
						<svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--up" aria-hidden="true" focusable="false"><path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z"></path></svg>
						<svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--down" aria-hidden="true" focusable="false"><path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"></path></svg>
					</div>

					<div id="list-of-@item.ToString().ToSeoUrl()" role="group" aria-labelledby="option-select-title-@item.ToString().ToSeoUrl()" class="app-c-option-select__container js-options-container" tabindex="-1" >
						<div class="app-c-option-select__container-inner">
							<div class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small" data-module="gem-checkboxes">
							    <fieldset class="govuk-fieldset govuk-checkboxes--small govuk-!-margin-0">
									<legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-visually-hidden">@item.DisplayName()</legend>

									<ul class="govuk-checkboxes gem-c-checkboxes__list" data-module="govuk-checkboxes">
										@foreach (var subject in Model.Data.AllSubjects[item])
										{
											var value = $"{item}-{subject.Name}";

											<li class="govuk-checkboxes__item">
												<input type="checkbox" name="Data.Subjects" class="govuk-checkboxes__input" 
													   id="@value.ToSeoUrl()" value="@value" checked="@subject.Selected">
												<label class="govuk-label govuk-checkboxes__label" for="@value.ToSeoUrl()">
													@subject.Name
												</label>
											</li>
										}
									</ul>
								</fieldset>
							</div>
						</div>
					</div>
				</div>
				}
				
				<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

				<govuk-radios asp-for="Data.TuitionType" class="govuk-radios--small">
					<govuk-radios-fieldset>
						<govuk-radios-fieldset-legend class="govuk-fieldset__legend--s">
							Type of tuition
						</govuk-radios-fieldset-legend>
					</govuk-radios-fieldset>
					@foreach (var item in Model.Data.AllTuitionTypes)
					{
						<govuk-radios-item id="@item.ToString().ToSeoUrl()" value="@item" checked="@item == @Model.Data.TuitionType">@item.DisplayName()</govuk-radios-item>
					}
				</govuk-radios>

				<div class="govuk-button-group" data-module="results-filter-button">
					<govuk-button type="submit">Apply filters</govuk-button>
				</div>
			</div>
		</div>

		<div class="govuk-grid-column-two-thirds">
			<div class="govuk-form-group">
				<div asp-validation-group-for="Data.Postcode" data-testid="postcode">
					<label asp-for="Data.Postcode" class="govuk-label govuk-label--s">
						Postcode
					</label>
					<span asp-validation-for="Data.Postcode" class="govuk-error-message"></span>
					<input asp-for="Data.Postcode" class="govuk-input govuk-input--width-10" type="text">
					<govuk-button type="submit" class="govuk-!-display-inline govuk-!-margin-0" data-testid="call-to-action">Search again</govuk-button>
				</div>
			</div>

			@if (Model.Data.Results != null)
			{
				foreach (var item in Model.Data.Results.Results)
				{
					<div>
						<h2 class="govuk-heading-m"><a asp-page="TuitionPartner" asp-route-id="@item.SeoUrl" class="govuk-link">@item.Name</a></h2>
						<govuk-summary-list>
							<govuk-summary-list-row class="govuk-body-s">
								<govuk-summary-list-row-key>
									Subjects covered
								</govuk-summary-list-row-key>
								<govuk-summary-list-row-value>
									<ul class="govuk-list govuk-body-s">
									@foreach (var keyStageSubjects in item.Subjects.GroupBy(e => e.KeyStageId))
									{
										<li>@(((KeyStage)keyStageSubjects.Key).DisplayName()) - @keyStageSubjects.DisplayList()</li>
									}
									</ul>
								</govuk-summary-list-row-value>
							</govuk-summary-list-row>
							<govuk-summary-list-row class="govuk-body-s">
								<govuk-summary-list-row-key>
									Type of tuition
								</govuk-summary-list-row-key>
								<govuk-summary-list-row-value>
									@string.Join(", ", item.TuitionTypes.Select(e => e.Name))
								</govuk-summary-list-row-value>
							</govuk-summary-list-row>
							<govuk-summary-list-row class="govuk-body-s">
								<govuk-summary-list-row-key>
									Provider information
								</govuk-summary-list-row-key>
								<govuk-summary-list-row-value>
									@item.Description
								</govuk-summary-list-row-value>
							</govuk-summary-list-row>
						</govuk-summary-list>
					</div>
				}
			}
		</div>
	
	</form>
</div>