@page
@using UI.HelperFunctions
@model SearchResults
@{
    ViewData["Title"] = "Search results";
    ViewData["BackLinkHref"] = $"/which-subjects?{Model.Data.ToQueryString()}";
    ViewData["IncludePrintPage"] = true;
}

<div class="govuk-grid-row app-print-hide">
    <div class="govuk-grid-column-full">

        <govuk-error-summary>
            <govuk-error-summary-item asp-for="Data.Postcode"/>
            <govuk-error-summary-item asp-for="Data.Subjects"/>
            <govuk-error-summary-item asp-for="Data.TuitionType"/>
        </govuk-error-summary>

        <h1 class="govuk-heading-l">
            <span class="app-results-filter--desktop">Find a tuition partner</span>
            <span class="app-results-filter--non-desktop">Search results</span>
        </h1>

    </div>
</div>

<div class="govuk-grid-row">
    <form>

        <div class="govuk-grid-column-one-third">
            <div class="app-results-filter" data-module="results-filter" data-testid="results-filter">
                <div class="app-results-filter-overlay--not-visible" data-testid="filter-results-heading">
                    <h2 class="govuk-heading-m">Filter results</h2>
                </div>
                <div class="app-results-filter-overlay--visible" data-testid="overlay-filter-results-heading">
                    <div class="app-results-filter-overlay--heading">
                        <div class="app-results-filter-overlay--heading-left">
                            <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Filters</h1>
                        </div>
                        <div class="app-results-filter-overlay--heading-right">
                            <a href="/search-results?@Model.Data.ToQueryString()" class="govuk-link govuk-link--no-underline"
                               data-module="return-to-results-link" data-testid="return-to-results-link">
                                Return to results
                            </a>
                        </div>
                    </div>
                    <p show-if="Model.Data.Results != null" class="govuk-body" data-testid="overlay-filter-results-count">
                        @{
                            var countInitial = Model.Data.Results!.Count == 0 ? "No" : Model.Data.Results.Count.ToString();
                            var resultPluralInitial = Model.Data.Results.Count != 1 ? "results" : "result";
                        }
                        <span>@countInitial @resultPluralInitial</span>
                    </p>
                    <h2 class="govuk-heading-m">Subjects</h2>
                </div>

                @foreach (var item in Model.Data.AllSubjects.Keys)
                {
                    <partial name="_OptionsSelect" model="@(new OptionsSelectModel(item.ToString().ToSeoUrl(), item.DisplayName(), Model.Data.AllSubjects[item].Select(x => ($"{item}-{x.Name}".ToSeoUrl(), $"{item}-{x.Name}", x.Name, x.Selected)).OrderBy(x => x.Name))) "/>
                }

                <govuk-radios asp-for="Data.TuitionType" class="govuk-radios--small govuk-!-margin-bottom-3">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend class="govuk-fieldset__legend--s">
                            Type of tuition
                        </govuk-radios-fieldset-legend>
                        @foreach (var item in Model.Data.AllTuitionTypes)
                        {
                            <govuk-radios-item id="@item.ToString().ToSeoUrl()" value="@item" checked="@item == @Model.Data.TuitionType">@item.DisplayName()</govuk-radios-item>
                        }
                    </govuk-radios-fieldset>
                </govuk-radios>

                <a asp-page-handler="ClearAllFilters" data-testid="clear-all-filters" class="govuk-link govuk-link--no-underline"
                   asp-route-postcode=@Model.Data.Postcode>
                    Clear all filters
                </a>

                <div class="govuk-!-margin-top-7">
                    <div class="govuk-button-group app-results-filter--apply-filters">
                        <govuk-button type="submit">Apply filters</govuk-button>
                    </div>
                    <div class="govuk-button-group app-results-filter-overlay--visible" data-module="overlay-apply-filters">
                        <govuk-button type="submit" data-testid="show-search-results-button">Show search results</govuk-button>
                    </div>
                </div>
            </div>
        </div>

        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-button-group app-results-filter-overlay--show-filters" data-module="show-filters-button-group">
                <govuk-button class="govuk-button--secondary" data-testid="show-filters-button">Show filters</govuk-button>
            </div>

            <div class="govuk-form-group app-form-group-inline">
                <div asp-validation-group-for="Data.Postcode" data-testid="postcode">
                    <label asp-for="Data.Postcode" class="govuk-label govuk-label--s">
                        Enter your school's postcode
                    </label>
                    <span asp-validation-for="Data.Postcode" class="govuk-error-message"></span>
                    <input asp-for="Data.Postcode" class="govuk-input" data-testid="postcode-input-box" type="text">
                    <govuk-button type="submit" data-testid="call-to-action">Search</govuk-button>
                </div>
            </div>

            <div show-if="Model.Data.Results != null" class="govuk-body" data-testid="results-summary">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                @{
                    var count = Model.Data.Results!.Count == 0 ? "No" : Model.Data.Results.Count.ToString();
                    var resultPlural = Model.Data.Results.Count != 1 ? "results" : "result";
                }
                <span class="govuk-!-font-size-24">
                    <strong data-testid="result-count">@count</strong> @(resultPlural)
                    <span show-if="@Model.Data.Results.LocalAuthorityName != null">for <strong>@Model.Data.Results.LocalAuthorityName</strong></span>
                </span><br/>
                Your results are in a random order.
                <div class="govuk-grid-row govuk-!-margin-top-2">
                    <div class="govuk-grid-column-full update-my-shortlist-button--apply-visibility">
                        <govuk-button type="submit" class="govuk-!-margin-bottom-2" name="UpdateMyShortlist" value="Update my shortlist">
                            Update my shortlist
                        </govuk-button>
                    </div>
                    <div class="govuk-grid-column-full">
                        <a asp-page="/Shortlist" asp-all-route-data="@Model.Data.ToRouteData()" class="govuk-link govuk-!-font-size-24"
                           module="my-shortlisted-tuition-partners-link" data-testid="my-shortlisted-tuition-partners-link">
                            View my shortlisted tuition partners
                            <span id="totalShortlistedTuitionPartners" class="moj-notification-badge my-shortlisted-partners-badge">
                                @Model.TotalShortlistedTuitionPartners
                            </span>
                        </a>
                    </div>
                </div>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </div>

            @if (Model.Data.Results != null)
            {
                var i = 0;
                var dataQueryString = Model.Data.ToQueryString();
                foreach (var item in Model.Data.Results.Results)
                {
                    i++;
                    var logoUrl = item.HasLogo ? $"/tuition-partner-logo/{item.SeoUrl}" : "";
                    var tpUrl = $"/tuition-partner/{item.SeoUrl}?{dataQueryString}&{HelperFunctions.JumpToLocationQueryName}=sr-tp-jtl-{@item.SeoUrl}";

                    <div id="sr-tp-jtl-@item.SeoUrl" data-testid="results-list-item" data-position="@i">
                        <div class="search-results-logo" data-testid="results-list-item-@item.SeoUrl">
                            <img show-if="@item.HasLogo" src="@logoUrl" alt="The company logo for @item.Name"/>
                            <h2 class="govuk-heading-m">
                                <a href="@tpUrl" class="govuk-link" data-testid="tuition-partner-name-link">@item.Name</a>
                            </h2>
                            <govuk-summary-list class="govuk-!-margin-bottom-0">
                                <govuk-summary-list-row class="govuk-body-s">
                                    <govuk-summary-list-row-key>
                                        Subjects covered
                                    </govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>
                                        <ul class="govuk-list govuk-body-s govuk-list-bullets-mobile-view" data-testid="results-subjects">
                                            @foreach (var keyStageSubjects in item.SubjectsCoverage
                                                .Select(e => e.Subject)
                                                .Distinct()
                                                .OrderBy(e => e.KeyStageId)
                                                .ThenBy(e => e.Name).GroupBy(e => e.KeyStageId))
                                            {
                                                <li>@(((KeyStage) keyStageSubjects.Key).DisplayName()) - @keyStageSubjects.DisplayList()</li>
                                            }
                                        </ul>
                                    </govuk-summary-list-row-value>
                                </govuk-summary-list-row>
                                <govuk-summary-list-row class="govuk-body-s">
                                    <govuk-summary-list-row-key>
                                        Type of tuition
                                    </govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value data-testid="type-of-tuition">
                                        @string.Join(", ", item.TuitionTypes.Select(e => e.Name))
                                    </govuk-summary-list-row-value>
                                </govuk-summary-list-row>
                                <govuk-summary-list-row class="govuk-body-s">
                                    <govuk-summary-list-row-key>
                                        Tuition partner information
                                    </govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value data-testid="results-description">
                                        @item.Description
                                    </govuk-summary-list-row-value>
                                </govuk-summary-list-row>
                            </govuk-summary-list>
                            @{
                                var shortlist = Model.SelectableTuitionPartners
                                    .First(tp => tp.SeoUrl == item.SeoUrl);
                            }
                            <govuk-checkboxes class="govuk-checkboxes--small govuk-!-padding-bottom-0 govuk-!-margin-1" name="ShortlistedTuitionPartners">
                                <govuk-checkboxes-item id="shortlist-cb-@shortlist.SeoUrl" value="@shortlist.SeoUrl" checked="@shortlist.IsSelected">
                                    <span class="shortlist-partner-checkbox-label--font-style">Add @item.Name to my shortlist</span>
                                </govuk-checkboxes-item>
                            </govuk-checkboxes>
                            <hr class="govuk-section-break govuk-section-break--visible govuk-!-padding-bottom-0 govuk-!-margin-top-0 govuk-!-margin-bottom-7">
                        </div>
                    </div>
                }
                <div class="govuk-grid-row update-my-shortlist-button--top-margin-ne-2">
                    <div class="govuk-grid-column-full update-my-shortlist-button--apply-visibility">
                        <govuk-button type="submit" name="UpdateMyShortlist" value="Update my shortlist"
                                      class="govuk-!-margin-bottom-2">
                            Update my shortlist
                        </govuk-button>
                    </div>
                </div>
            }
        </div>

    </form>
</div>

@section Scripts { <script src="/Pages/SearchResults.cshtml.js"></script> }