@page
@model UI.Pages.ShortlistModel
@{
    ViewData["Title"] = "Compare my shortlisted tuition partners";
    ViewData["BackLinkHref"] = "/search-results?" + Model.Data.ToQueryString();
    ViewData["IncludePrintPage"] = true;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="get">
            @{
                var count = Model.Data.Results?.Count;
                var partnersPlural = count > 1 ? "partners" : "partner";
            }
            <span show-if="@count > 0 && Model.Data.Results?.LocalAuthorityName != null" class="govuk-caption-l" data-testid="la-name">Tuition @partnersPlural for <strong>@Model.Data.Results?.LocalAuthorityName</strong></span>
            <h1 class="govuk-heading-l">Compare my shortlisted tuition partners</h1>

            @if (count > 0)
            {
                var dataQueryString = Model.Data.ToQueryString();
            <div class="govuk-table-container">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Name</th>
                        <th scope="col" class="govuk-table__header">Key stages covered</th>
                        <th scope="col" class="govuk-table__header">Subjects</th>
                        <th scope="col" class="govuk-table__header">Type of tuition</th>
                        <th scope="col" class="govuk-table__header">Price range</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                    @foreach (var item in Model.Data.Results?.Results!)
                    {
                        var tpUrl = $"/tuition-partner/{item.SeoUrl}?{dataQueryString}";

                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="@tpUrl" class="govuk-link">@item.Name</a></th>
                            <td class="govuk-table__cell">
                                @item.SubjectsCoverage.Select(e => e.Subject.KeyStage).DisplayList()
                            </td>
                            <td class="govuk-table__cell">
                                @item.SubjectsCoverage.Select(e => e.Subject).DisplayList()
                            </td>
                            <td class="govuk-table__cell">@string.Join(", ", item.TuitionTypes.Select(e => e.Name))</td>
                            <td class="govuk-table__cell">From @item.Prices?.Min(e => e.HourlyRate).FormatPrice()</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            }
            else
            {
                <p class="govuk-body">There are no tuition partners shortlisted, return to the <a class="govuk-link" data-testid="no-results-return-link" href="/search-results?@Model.Data.ToQueryString()">search page</a> to add tuition partners to the list.</p>
            }

            @if (Model.Data.InvalidTPs is not null)
            {
            <div class="govuk-inset-text">
                Some of your shortlisted tuition partners are not available for @(Model.Data.Results?.LocalAuthorityName != null ? Model.Data.Results?.LocalAuthorityName : "your current search")
                <ul class="govuk-list govuk-list--bullet">
                    @foreach (var item in Model.Data.InvalidTPs)
                    {
                    <li>@item.Name</li>
                    }
                </ul>
            </div>
            }
        </form>
    </div>
</div>
