@page
@using UI.HelperFunctions
@model UI.Pages.ShortlistModel
@{
    var clearShortlistUrl = $"/shortlist-clear-confirm?{Model.Data.ToQueryString()}";
    ViewData["Title"] = "My shortlisted tuition partners";
    ViewData["BackLinkHref"] = $"/search-results?{Model.Data.ToQueryString()}{HelperFunctions.GetJumpToLocation(Request)}";
    ViewData["IncludePrintPage"] = true;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post" asp-page-handler="applyrefinement">
            @{
                var count = Model.Data.Results?.Count;
                var partnersPlural = count > 1 ? "partners" : "partner";
            }
            <span show-if="@count > 0 && Model.Data.Results?.LocalAuthorityName != null" class="govuk-caption-l" data-testid="la-name">Tuition @partnersPlural for <strong>@Model.Data.Results?.LocalAuthorityName</strong></span>
            <h1 class="govuk-heading-l">My shortlisted tuition partners</h1>

            @if (count > 0)
            {
                var dataQueryString = Model.Data.ToQueryString();

                @*
                    TODO
                    gov uk SELECT styles not added in with npm?  Get error on index.js saying: export 'Select' (imported as 'Select') was not found in 'govuk-frontend' (possible exports: Accordion, Button, CharacterCount, Checkboxes, Details, ErrorSummary, Header, NotificationBanner, Radios, SkipLink, Tabs, initAll)
                *@

                <input asp-for="Data.From" type="hidden" />
                <input asp-for="Data.Postcode" type="hidden" />
                @if (Model.Data.KeyStages != null)
                {
                    @for(int i = 0; i < Model.Data.KeyStages.Count(); i++)
                    {
                        <input asp-for="Data.KeyStages[i]" type="hidden" />
                    }
                }
                @if (Model.Data.Subjects != null)
                {
                    @for(int i = 0; i < Model.Data.Subjects.Count(); i++)
                    {
                        <input asp-for="Data.Subjects[i]" type="hidden" />
                    }
                }
                <input asp-for="Data.TuitionType" type="hidden" />
                <input asp-for="Data.ShortlistOrderBy" type="hidden" />
                <input asp-for="Data.ShortlistOrderByDirection" type="hidden" />

                <div data-module="shortlist-refinement">
                    <h2 class="govuk-heading-m">Refine the pricing</h2>

                    <div class="govuk-grid-row govuk-grid-row-shortlist">
                        <div class="govuk-grid-column-shortlist">
                        <govuk-select asp-for="Data.ShortlistGroupSize" data-testid="shortlist-group-size-refine">
                            <govuk-select-label>Group size</govuk-select-label>
                        @foreach (var item in Model.Data.AllGroupSizes)
                        {
                            <govuk-select-item value="@item" selected="@item == @Model.Data.ShortlistGroupSize">@item.DisplayName()</govuk-select-item>
                        }
                        </govuk-select>
                        </div>

                        <div class="govuk-grid-column-shortlist">
                        <govuk-select asp-for="Data.ShortlistTuitionType" data-testid="shortlist-tuition-type-refine">
                            <govuk-select-label>Type of tuition</govuk-select-label>
                        @foreach (var item in Model.Data.AllTuitionTypes)
                        {
                            <govuk-select-item value="@item" selected="@item == @Model.Data.ShortlistTuitionType">@item.DisplayName()</govuk-select-item>
                        }
                        </govuk-select>
                        </div>

                        <div class="govuk-grid-column-shortlist">
                            <div class="govuk-button-group app-shortlist--apply-refinement">
                                <button class="govuk-button govuk-button--primary remove-shortlist-table-button" data-module="govuk-button" type="submit" asp-page-handler="applyrefinement" asp-all-route-data="@Model.Data.ToRouteData()">Apply refinement</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="govuk-table-container">
                    <table class="govuk-table" data-testid="shortlist-table">
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Key stages covered</th>
                            <th scope="col" class="govuk-table__header">Subjects</th>
                            <th scope="col" class="govuk-table__header">Type of tuition</th>
                            <th scope="col" class="govuk-table__header" aria-sort="@(Model.Data.GetAriaSort(Domain.Enums.TuitionPartnerOrderBy.MinPrice))">
                                <a class="table-column-sort" data-testid="shortlist-price-sort" asp-page="Shortlist" asp-all-route-data="@(Model.Data.GetSortRouteData(Domain.Enums.TuitionPartnerOrderBy.MinPrice))">Price</a>
                            </th>
                            <th scope="col" class="govuk-table__header app-print-hide">Remove</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">

                        @foreach (var item in Model.Data.Results?.Results!)
                        {
                            var tpUrl = $"/tuition-partner/{item.SeoUrl}?{dataQueryString}";

                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">
                                    <a href="@tpUrl" class="govuk-link">@item.Name</a>
                                </th>
                                @if(item.Prices == null)
                                {
                                <td class="govuk-table__cell" colspan="4" data-testid="shortlist-empty-data-reason-@item.SeoUrl">
                                    @(item.RefinedDataEmptyReason + (item.RefinedDataEmptyReasonAppendLAName ? Model.Data.Results?.LocalAuthorityName : ""))
                                </td>
                                }
                                else
                                {
                                <td class="govuk-table__cell">
                                    @item.SubjectsCoverage!.Select(e => e.Subject.KeyStage).DisplayList()
                                </td>
                                <td class="govuk-table__cell">
                                    @item.SubjectsCoverage!.Select(e => e.Subject).DisplayList()
                                </td>
                                <td class="govuk-table__cell">@string.Join(", ", item.TuitionTypes!.Select(e => e.Name))</td>
                                <td class="govuk-table__cell" data-testid="shortlist-price-@item.SeoUrl">From @item.Prices.Min(e => e.HourlyRate).FormatPrice()</td>
                                }
                                <td class="govuk-table__cell app-print-hide">
                                    <button class="govuk-button govuk-button--secondary remove-shortlist-table-button" data-testid="remove-tp" data-module="govuk-button" type="submit" asp-page-handler="remove" asp-all-route-data="@Model.Data.ToRouteData(new Dictionary<string, string>() {{"RemoveTuitionPartnerSeoUrl", item.SeoUrl}})">Remove</button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p id="shortlist-no-tp-shortlisted" class="govuk-body">You don’t have any shortlisted tuition partners.</p>
                <p class="govuk-body">To shortlist tuition partners, go to your <a class="govuk-link" data-testid="no-results-return-link" href="/search-results?@Model.Data.ToQueryString()">search results</a>.</p>
            }

            @if (Model.Data.InvalidTPs is not null)
            {
                <div class="govuk-inset-text">
                    Some of your shortlisted tuition partners are not available for @(Model.Data.Results?.LocalAuthorityName != null ? Model.Data.Results?.LocalAuthorityName : "your current search")
                    <ul class="govuk-list govuk-list--bullet" data-testid="unavailable-tps">
                        @foreach (var item in Model.Data.InvalidTPs)
                        {
                            <li>@item.Name</li>
                        }
                    </ul>
                </div>
            }

            <div show-if="count > 0 || Model.Data.InvalidTPs is not null" class="govuk-body app-print-hide">
                <a class="govuk-link" data-testid="clear-shortlist-link" href="@clearShortlistUrl">Clear my shortlist</a>
            </div>
        </form>
    </div>
</div>