@page "{id}"
@model TuitionPartner
@{
    ViewData["Title"] = Model.Data.Name;
}
<a asp-page="@nameof(Index)" class="govuk-link" data-testid="home-link">Home</a><br/>

<govuk-back-link href="/search-results?@Model.AllSearchData.ToQueryString()">
	Back to search results
</govuk-back-link> 

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">@Model.Data.Name</h1>
        <p class="govuk-body">@Model.Data.Description</p>

		<govuk-details data-testid="qatp-details">
			<govuk-details-summary>
				What is a quality assured tuition partner?
			</govuk-details-summary>
			<govuk-details-text>
				The tuition partners shown on this service have been through a quality assurance process by the Department of Education. This process is to ensure quality tuition is delivered and includes safeguarding checks.
			</govuk-details-text>
		</govuk-details>

	    <div>
		    <h2 class="govuk-heading-m">Tuition details</h2>
		    <govuk-summary-list>
			    <govuk-summary-list-row>
				    <govuk-summary-list-row-key>
					    Subjects covered
				    </govuk-summary-list-row-key>
				    <govuk-summary-list-row-value>
					    <ul class="govuk-list">
						    @foreach (var item in Model.Data.Subjects)
						    {
							    <li>@item</li>
						    }
					    </ul>
				    </govuk-summary-list-row-value>
			    </govuk-summary-list-row>
			    <govuk-summary-list-row>
				    <govuk-summary-list-row-key>
					    Type of tuition
				    </govuk-summary-list-row-key>
				    <govuk-summary-list-row-value>
					    <ul class="govuk-list" data-testid="type-of-tuition">
						    @foreach (var item in Model.Data.TuitionTypes)
						    {
							    <li>@item</li>
						    }
					    </ul>
				    </govuk-summary-list-row-value>
			    </govuk-summary-list-row>
			    <govuk-summary-list-row>
				    <govuk-summary-list-row-key>
					    Tuition group size(s)
				    </govuk-summary-list-row-key>
				    <govuk-summary-list-row-value>
					    <ul class="govuk-list">
						    @foreach (var item in Model.Data.Ratios)
						    {
							    <li>@item</li>
						    }
					    </ul>
				    </govuk-summary-list-row-value>
			    </govuk-summary-list-row>
				<govuk-summary-list-row>
					<govuk-summary-list-row-key>
						SEND support
					</govuk-summary-list-row-key>
					<govuk-summary-list-row-value>
						@Model.Data.HasSenProvision.ToYesNoString()
					</govuk-summary-list-row-value>
				</govuk-summary-list-row>
		    </govuk-summary-list>
	    </div>
		
	    <table class="govuk-table" data-testid="locations-covered-table" show-if="@Model.Data.LocalAuthorityDistricts.Any()">
		    <caption class="govuk-table__caption govuk-table__caption--m">Locations covered</caption>
		    <thead class="govuk-table__head">
		    <tr class="govuk-table__row">
			    <th scope="col" class="govuk-table__header">Region</th>
			    <th scope="col" class="govuk-table__header">LAD code</th>
			    <th scope="col" class="govuk-table__header">LAD name</th>
			    <th scope="col" class="govuk-table__header">In school</th>
			    <th scope="col" class="govuk-table__header">Online</th>
		    </tr>
		    </thead>
		    <tbody class="govuk-table__body">
		    @foreach (var item in Model.Data.LocalAuthorityDistricts)
		    {
			    <tr class="govuk-table__row">
				    <td class="govuk-table__cell">@item.Region</td>
				    <td class="govuk-table__cell">@item.Code</td>
				    <td class="govuk-table__cell">@item.Name</td>
				    <td class="govuk-table__cell">@(item.InSchool ? "Yes" : "")</td>
				    <td class="govuk-table__cell">@(item.Online ? "Yes" : "")</td>
			    </tr>
		    }
		    </tbody>
	    </table>
    
		<div>
		    <h2 class="govuk-heading-m">Tuition cost information</h2>

			<p class="govuk-body">
				Each Pupil Premium (PP) eligible student will receive £162. This funding cost has been calculated
				so you will have 60% of the cost covered for up to £18 per pupil per hour. For more information on
				tuition cost, you can see our <a href="https://www.gov.uk/government/publications/national-tutoring-programme-ntp/national-tutoring-programme-ntp#ntp-funding-for-2022-to-2023" class="govuk-link" data-testid="funding-guidance-1">funding guidance</a>.
			</p>

			<p>
				<govuk-details data-testid="payment-details">
					<govuk-details-summary>
						How much will I pay?
					</govuk-details-summary>
					<govuk-details-text>
						<strong>Example:</strong>
						 <ul class="govuk-list govuk-list--bullet">
						   <li>If you spend £15 per pupil per hour, the government will cover 60% of the cost</li>
						   <li>If you spend £25 per pupil per hour, you will receive 60% of £18 and will have to pay the rest</li>
					    </ul>
					</govuk-details-text>
				</govuk-details>
			</p>
		</div>

	    <table class="govuk-table" data-testid="pricing-table" show-if="@(!Model.Data.AllPrices.Any())">
		    <caption class="govuk-table__caption govuk-table__caption--m">Tuition cost information</caption>
		    <thead class="govuk-table__head">
		    <tr class="govuk-table__row">
			    <th scope="col" class="govuk-table__header">Tuition group size</th>
			    <th scope="col" class="govuk-table__header">In school</th>
			    <th scope="col" class="govuk-table__header">Online</th>
		    </tr>
		    </thead>
		    <tbody class="govuk-table__body">
		    @foreach (var item in Model.Data.Prices)
		    {
			    <tr class="govuk-table__row">
				    <th scope="row" class="govuk-table__header">1 to @item.Key</th>
				    @if (item.Value.SchoolMin == item.Value.SchoolMax)
				    {
					    <td class="govuk-table__cell">@Html.FormatValue(item.Value.SchoolMin, "{0:C}")</td>
				    }
				    else
				    {
					    <td class="govuk-table__cell">@Html.FormatValue(item.Value.SchoolMin, "{0:C}") to @Html.FormatValue(item.Value.SchoolMax, "{0:C}")</td>
				    }
				    @if (item.Value.OnlineMin == item.Value.OnlineMax)
				    {
					    <td class="govuk-table__cell">@Html.FormatValue(item.Value.OnlineMin, "{0:C}")</td>
				    }
				    else
				    {
					    <td class="govuk-table__cell">@Html.FormatValue(item.Value.OnlineMin, "{0:C}") to @Html.FormatValue(item.Value.OnlineMax, "{0:C}")</td>
				    }
			    </tr>
		    }
		    </tbody>
	    </table>

		<h2 class="govuk-heading-m" show-if="@Model.Data.AllPrices.Any()">Tuition cost information</h2>

		@foreach (var (tuitionType, keyStages) in Model.Data.AllPrices)
		{
		    foreach (var (keyStage, subjects) in keyStages)
		    {
			    <table class="govuk-table" data-testid="full-pricing-table-@($"{tuitionType.DisplayName()} {keyStage.DisplayName()}".ToSeoUrl())">
				    <caption class="govuk-table__caption govuk-table__caption--m">@tuitionType.DisplayName() - @keyStage.DisplayName()</caption>
				    <thead class="govuk-table__head">
				    <tr class="govuk-table__row">
					    <th scope="col" class="govuk-table__header">Tuition group size</th>
					    @foreach (var (subjectName, _) in subjects)
					    {
						    <th scope="col" class="govuk-table__header">@subjectName</th>
					    }
				    </tr>
				    </thead>
				    <tbody class="govuk-table__body">
				    @for (var groupSize = 1; groupSize < 7; groupSize++)
				    {
					    <tr class="govuk-table__row">
						    <th scope="row" class="govuk-table__header">1 to @groupSize</th>
						    @foreach (var (_, prices) in subjects)
						    {
							    if (prices.TryGetValue(groupSize, out var price))
							    {
								    <td class="govuk-table__cell">@Html.FormatValue(price, "{0:C}")</td>
							    }
							    else
							    {
								    <td class="govuk-table__cell"></td>
							    }
						    }
					    </tr>
				    }
				    </tbody>
			    </table>
		    }
		}

	    <div>
		    <h2 class="govuk-heading-m">Next steps</h2>
			<p class="govuk-body">
				Contact @Model.Data.Name by phone, email or their website to find out their availability to start as your tuition partner.
			</p>
			<p class="govuk-body">
				For help on how to report your tuition costs and get your 60% subsidy, you can see our <a href="https://www.gov.uk/government/publications/national-tutoring-programme-ntp/national-tutoring-programme-ntp#ntp-funding-for-2022-to-2023" class="govuk-link" data-testid="funding-guidance-2">funding guidance</a>.
			</p>

		    <govuk-summary-list data-testid="contact-details">
			    <govuk-summary-list-row>
				    <govuk-summary-list-row-key>
					    Website
				    </govuk-summary-list-row-key>
				    <govuk-summary-list-row-value>
					    <a href="@Model.Data.Website" class="govuk-link" target="_blank" data-testid="tuition-partner-website-link">@Model.Data.Website</a>
				    </govuk-summary-list-row-value>
			    </govuk-summary-list-row>
				@if (!String.IsNullOrEmpty(@Model.Data.PhoneNumber))
				{
					<govuk-summary-list-row>
						<govuk-summary-list-row-key>
							Phone number
						</govuk-summary-list-row-key>
						<govuk-summary-list-row-value>
							<a href="tel:@Model.Data.PhoneNumber" class="govuk-link">@Model.Data.PhoneNumber</a>
						</govuk-summary-list-row-value>
					</govuk-summary-list-row>
				}
				@if (!String.IsNullOrEmpty(@Model.Data.EmailAddress))
				{
					<govuk-summary-list-row>
						<govuk-summary-list-row-key>
							Email address
						</govuk-summary-list-row-key>
						<govuk-summary-list-row-value>
							<a href="mailto:@(Model.Data.EmailAddress)" class="govuk-link">@Model.Data.EmailAddress</a>
						</govuk-summary-list-row-value>
					</govuk-summary-list-row>
				}
				@if(!String.IsNullOrEmpty(@Model.Data.Address)){
					<govuk-summary-list-row>
						<govuk-summary-list-row-key>
							Address
						</govuk-summary-list-row-key>
						<govuk-summary-list-row-value>
							<ul class="govuk-list govuk-body-s">
								@foreach (var addressItem in @Model.Data.Address.Split(','))
								{
									<li class="govuk-body">@addressItem</li>
								}
							</ul>
						</govuk-summary-list-row-value>
					</govuk-summary-list-row>
				}
		    </govuk-summary-list>
	    </div>
    </div>
</div>
