@page
@model WhichKeyStages
@{

    var backLink = Model.Data.From == ReferrerList.CheckYourAnswers ? "/enquiry/build/check-your-answers" : "/";
    ViewData["Title"] = "Which key stages do you need tutoring support for?";
    ViewData["BackLinkHref"] = $"{backLink}?{Model.Data.ToQueryString()}";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="get">
            <govuk-checkboxes asp-for="Data.KeyStages">
                <govuk-checkboxes-fieldset>
                    <govuk-checkboxes-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                        Which key stages do you need tutoring support for?
                    </govuk-checkboxes-fieldset-legend>
                    <govuk-checkboxes-hint>
                        Select all of the key stages that apply
                    </govuk-checkboxes-hint>
                    @foreach (var item in Model.Data!.AllKeyStages)
                    {
                        <govuk-checkboxes-item id="@item.Name.ToString().ToSeoUrl()" value="@item.Name" checked="@item.Selected" data-testid="key-stage-name">@item.Name.DisplayName()</govuk-checkboxes-item>
                    }
                </govuk-checkboxes-fieldset>
            </govuk-checkboxes>

            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="call-to-action">Continue</govuk-button>
            </div>

            <input type="hidden" name="handler" value="Submit"/>

            <partial name="_SearchModelHiddenInputs" model="@Model.Data" view-data='@new ViewDataDictionary(ViewData) {{"ExcludeKeyStages", true} }' />
        </form>
    </div>
</div>