@page
@model WhichSubjects
@{
    ViewData["Title"] = "Which subjects do you need tutoring support for?";
    ViewData["BackLinkHref"] = "/which-key-stages?" + Model.Data.ToQueryString();
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <govuk-error-summary>
            <govuk-error-summary-item asp-for="Data.Subjects"/>
        </govuk-error-summary>

        <form method="get" gfa-prepend-error-summary="false">
            <h1 class="govuk-heading-l">Which subjects do you need tutoring support for?</h1>
            <p class="govuk-body">Select all of the subjects that apply</p>

            @foreach (var item in Model.Data.AllSubjects.Keys)
            {
                <div data-testid="@(item)-subjects">
                    <govuk-checkboxes asp-for="Data.Subjects">
                        <govuk-checkboxes-fieldset>
                            <govuk-checkboxes-fieldset-legend is-page-heading="false" class="govuk-fieldset__legend--m">
                                @item.DisplayName() subjects
                            </govuk-checkboxes-fieldset-legend>
                            @foreach (var subject in Model.Data.AllSubjects[item].OrderBy(x => x.Name))
                            {
                                var value = $"{item}-{subject.Name}";
                                <govuk-checkboxes-item id="@value.ToSeoUrl()" value="@value" checked="@subject.Selected" data-testid="subject-name">@subject.Name</govuk-checkboxes-item>
                            }
                        </govuk-checkboxes-fieldset>
                    </govuk-checkboxes>
                </div>
            }

            <input type="hidden" name="handler" value="Submit"/>
            @if (Model.Data.Postcode != null)
            {
                <input asp-for="Data.Postcode" hidden/>
            }
            @if (Model.Data.KeyStages != null)
            {
                foreach (var subject in Model.Data.KeyStages)
                {
                    <input type="hidden" id="@subject" name="Data.KeyStages" value="@subject"/>
                }
            }
            @if (Model.Data.TuitionType.HasValue)
            {
                <input asp-for="Data.TuitionType" hidden/>
            }
            @if (Model.Data.OrganisationGroupingType.HasValue)
            {
                <input asp-for="Data.OrganisationGroupingType" hidden/>
            }
            <div class="govuk-button-group">
                <govuk-button type="submit" data-testid="call-to-action">Continue</govuk-button>
            </div>
        </form>
    </div>
</div>