@model ShortlistCheckboxModel
<govuk-checkboxes class="govuk-checkboxes--small govuk-!-padding-bottom-0 govuk-!-margin-1" name="@Model.CheckboxName">
    <govuk-checkboxes-item id="@Model.Id" value="@Model.SeoUrl" checked="@Model.IsShortlisted">
            <span class="shortlist-partner-checkbox-label--font-style">Add @Model.LabelValue to my price comparision list</span>
        </govuk-checkboxes-item>
</govuk-checkboxes>