@page "/enquiry/{supportReferenceNumber}"
@model UI.Pages.Enquiry.Manage.AllEnquirerResponses
@using GovUk.Frontend.AspNetCore.TagHelpers
@{
  ViewData["Title"] = "View all responses";
  ViewData["IncludePrintPage"] = true;

  var numberOfTpEnquiryResponseReceived = !Model.Data.EnquirerViewResponses.Any()
  ? 0 : Model.Data.EnquirerViewResponses.Count;
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <govuk-error-summary>
      <govuk-error-summary-item asp-for="Data.ErrorMessage" />
    </govuk-error-summary>

    <span class="govuk-caption-l">Reference number @Model.Data.SupportReferenceNumber</span>
    <h1 class="govuk-heading-l">
      View responses to your tuition enquiry
    </h1>
    <div class="govuk-inset-text app-print-hide">
      You should bookmark this page for your future reference and quicker access to your enquiry.
    </div>

    <h2 class="govuk-heading-s">
      Your tuition enquiry summary
    </h2>
    <p class="govuk-body">Created on @Model.Data.EnquiryCreatedDateTime.ToString(StringConstants.DateFormatGDS)</p>
    <p class="govuk-body">All tuition partners must respond by @Model.Data.EnquiryCreatedDateTime.AddDays(IntegerConstants.EnquiryDaysToRespond).ToString(StringConstants.DateTimeFormatGDS)</p>

    <govuk-details open="false">
      <govuk-details-summary>
        Your tuition requirements
      </govuk-details-summary>
      <govuk-details-text>
        <govuk-summary-list>
          <govuk-summary-list-row>
            <govuk-summary-list-row-key>
              Key stage and subjects
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
              <ul class="govuk-list govuk-list--bullet">
                @foreach (var item in Model.Data.KeyStageSubjects)
                {
                  <li>
                    @item
                  </li>
                }
              </ul>
            </govuk-summary-list-row-value>
          </govuk-summary-list-row>
          <govuk-summary-list-row>
            <govuk-summary-list-row-key>
              Tuition setting
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
              @Model.Data.TuitionSettingName
            </govuk-summary-list-row-value>
          </govuk-summary-list-row>
          <govuk-summary-list-row>
            <govuk-summary-list-row-key>
              Tuition plan
            </govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
              <partial name="_TutoringLogistics" model="@Model.Data.TutoringLogisticsDisplayModel" />
            </govuk-summary-list-row-value>
          </govuk-summary-list-row>
          @if (!string.IsNullOrWhiteSpace(Model.Data.SENDRequirements))
          {
            <govuk-summary-list-row>
              <govuk-summary-list-row-key>
                SEND and additional requirements
              </govuk-summary-list-row-key>
              <govuk-summary-list-row-value>
                <span class="display-pre-wrap">@Model.Data.SENDRequirements</span>
              </govuk-summary-list-row-value>
            </govuk-summary-list-row>
          }
          @if (!string.IsNullOrWhiteSpace(Model.Data.AdditionalInformation))
          {
            <govuk-summary-list-row>
              <govuk-summary-list-row-key>
                Other tuition requirements
              </govuk-summary-list-row-key>
              <govuk-summary-list-row-value>
                <span class="display-pre-wrap">@Model.Data.AdditionalInformation</span>
              </govuk-summary-list-row-value>
            </govuk-summary-list-row>
          }
        </govuk-summary-list>
      </govuk-details-text>
    </govuk-details>

  </div>
</div>

<h2 class="govuk-heading-s">
  All tuition partner responses
</h2>

<p class="govuk-body">After viewing a response you can contact the tuition partner and record your interest in working with them.</p>
<br>
<p class="govuk-body">@numberOfTpEnquiryResponseReceived out of @Model.Data.NumberOfTpEnquiryWasSent tuition partners have responded at the moment.</p>

<p class="govuk-body">You have removed @Model.Data.NumberOfEnquirerNotInterestedResponses from your list of responses.</p>

@if (Model.Data.EnquirerViewResponses.Any())
{
  var sortLink = $"/enquiry/{Model.SupportReferenceNumber}?Token={Model.Data.Token}&";
  <table id="all-responses-table" class="govuk-table" data-testid="enquirer-view-all-responses-table">
    <caption class="govuk-visually-hidden">View responses to your tuition enquiry</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" aria-sort="@(Domain.Enums.EnquiryResponseResultsOrderBy.Date.GetAriaSort(Model.Data))">
          <a class="table-column-sort" href="@sortLink@Domain.Enums.EnquiryResponseResultsOrderBy.Date.GetSortQueryString(Model.Data)#all-responses-table">Date</a>
        </th>
        <th scope="col" class="govuk-table__header" aria-sort="@(Domain.Enums.EnquiryResponseResultsOrderBy.Name.GetAriaSort(Model.Data))">
          <a class="table-column-sort" href="@sortLink@Domain.Enums.EnquiryResponseResultsOrderBy.Name.GetSortQueryString(Model.Data)#all-responses-table">Tuition partner response</a>
        </th>
        <th scope="col" class="govuk-table__header" aria-sort="@(Domain.Enums.EnquiryResponseResultsOrderBy.Status.GetAriaSort(Model.Data))">
          <a class="table-column-sort" href="@sortLink@Domain.Enums.EnquiryResponseResultsOrderBy.Status.GetSortQueryString(Model.Data)#all-responses-table">Your interest</a>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">

      @foreach (var item in @Model.Data.EnquirerViewResponses!)
      {
        var enquirerEnquiryResponseLink = $"/enquiry/{Model.SupportReferenceNumber}/{item.TuitionPartnerName.ToSeoUrl()}?Token={Model.Data.Token}&{Model.Data.ToQueryString()}";
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            @item.EnquiryResponseDate?.ToString("dd/MM/yyyy")
          </td>
          <td class="govuk-table__cell">
            <a href="@enquirerEnquiryResponseLink" class="govuk-link" data-testid="view-enquiry-response-link">
              @item.TuitionPartnerName
            </a>
          </td>
          <td class="govuk-table__cell">
            <span class="enquiry-status-box enquiry-status-@item.EnquiryResponseStatus.DisplayName().ToSeoUrl()">@item.EnquiryResponseStatus.DisplayName()</span>
          </td>
        </tr>
      }
    </tbody>
  </table>
}