@page "/enquiry/{supportReferenceNumber}/{tuitionPartnerSeoUrl}"
@model UI.Pages.Enquiry.Manage.EnquirerResponse
@{
  var baseServiceUrl = Request.GetBaseServiceUrl();
  var backLink = $"{baseServiceUrl}/enquiry/{Model.SupportReferenceNumber}?Token={Model.Data.Token}";
  var tpDetails = $"{baseServiceUrl}/enquiry/{Model.SupportReferenceNumber}/{Model.TuitionPartnerSeoUrl}/contact-details?Token={Model.Data.Token}";

  ViewData["Title"] = "View a response";
  ViewData["BackLinkText"] = "Back to view all your responses";
  ViewData["BackLinkHref"] = backLink;
  ViewData["IncludePrintPage"] = true;
}

<div class="govuk-grid-row" xmlns="http://www.w3.org/1999/html">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">Reference number @Model.Data.SupportReferenceNumber</span>
    <h1 class="govuk-heading-l">
      View response from @Model.Data.TuitionPartnerName
    </h1>

    <p class="govuk-body app-print-hide">
      You can view and compare their response to your tuition requirements.<br>
      This will help you decide if its a good match to your pupils' needs.
    </p>

    <p class="govuk-body app-print-hide">
      After you’ve viewed their response, you can either:
    </p>
    <ul class="govuk-list govuk-list--bullet app-print-hide">
      <li>
        contact them to discuss your enquiry such as budget, funding, alternative arrangements and tutors available
      </li>
      <li>
        return to your enquiry list to view other tuition partner’s responses
      </li>
    </ul>
  </div>
</div>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-padding-bottom-0 govuk-!-margin-top-0 govuk-!-margin-bottom-7">

      <h2 class="govuk-heading-l govuk-!-padding-top-0">
        Their response to your enquiry
      </h2>

      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        Key stage and subjects
      </h3>

      <p class="govuk-body govuk-!-margin-bottom-0">
        <strong>Your requirement:</strong>
      </p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-2">
        @foreach (var item in Model.Data.EnquiryKeyStageSubjects)
        {
          <li>
            @item
          </li>
        }
      </ul>

      <p class="govuk-body govuk-!-margin-bottom-0">
        <strong>Response from @Model.Data.TuitionPartnerName:</strong>
      </p>
      <p class="govuk-body">
        <span class="display-pre-wrap">@Model.Data.KeyStageAndSubjectsText</span>
      </p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-padding-bottom-0 govuk-!-margin-top-0 govuk-!-margin-bottom-5">

      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        Tuition setting
      </h3>

      <p class="govuk-body govuk-!-margin-bottom-0">
        <strong>Your requirement:</strong>
      </p>
      <p class="govuk-body">
        @Model.Data.EnquiryTuitionSetting
      </p>

      <p class="govuk-body govuk-!-margin-bottom-0">
        <strong>Response from @Model.Data.TuitionPartnerName:</strong>
      </p>
      <p class="govuk-body">
        <span class="display-pre-wrap">@Model.Data.TuitionSettingText</span>
      </p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-padding-bottom-0 govuk-!-margin-top-0 govuk-!-margin-bottom-5">

      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        Tuition plan
      </h3>
      <p class="govuk-body govuk-!-margin-bottom-0">
        <strong>Your requirement:</strong>
      </p>
      <partial name="_TutoringLogistics" model="@Model.Data.EnquiryTutoringLogisticsDisplayModel" view-data='@new ViewDataDictionary(ViewData) {{"TutoringLogisticsBulletClass", "govuk-!-margin-left-2"}}' />

      <p class="govuk-body govuk-!-margin-bottom-0">
        <strong>Response from @Model.Data.TuitionPartnerName:</strong>
      </p>
      <p class="govuk-body">
        <span class="display-pre-wrap">@Model.Data.TutoringLogisticsText</span>
      </p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-padding-bottom-0 govuk-!-margin-top-0 govuk-!-margin-bottom-5">

      @if (!string.IsNullOrWhiteSpace(Model.Data.EnquirySENDRequirements))
      {
        <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
          <span>Can you support the following SEND and additional requirements</span>
        </h3>

        <p class="govuk-body govuk-!-margin-bottom-0">
          <strong>Your requirement:</strong>
        </p>
        <p class="govuk-body">
          <span class="display-pre-wrap">@Model.Data.EnquirySENDRequirements</span>
        </p>

        <p class="govuk-body govuk-!-margin-bottom-0">
          <strong>Response from @Model.Data.TuitionPartnerName:</strong>
        </p>
        <p class="govuk-body">
          <span class="display-pre-wrap">@Model.Data.SENDRequirementsText</span>
        </p>

        <hr class="govuk-section-break govuk-section-break--visible govuk-!-padding-bottom-0 govuk-!-margin-top-0 govuk-!-margin-bottom-5">
      }

      @if (!string.IsNullOrWhiteSpace(Model.Data.EnquiryAdditionalInformation))
      {
        <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
          <span>Other tuition requirements</span>
        </h3>

        <p class="govuk-body govuk-!-margin-bottom-0">
          <strong>Your requirement:</strong>
        </p>
        <p class="govuk-body">
          <span class="display-pre-wrap">@Model.Data.EnquiryAdditionalInformation</span>
        </p>

        <p class="govuk-body govuk-!-margin-bottom-0">
          <strong>Response from @Model.Data.TuitionPartnerName:</strong>
        </p>
        <p class="govuk-body">
          <span class="display-pre-wrap">@Model.Data.AdditionalInformationText</span>
        </p>

        <hr class="govuk-section-break govuk-section-break--visible govuk-!-padding-bottom-0 govuk-!-margin-top-0 govuk-!-margin-bottom-5">
      }
    </div>
  </div>
</div>

<div class="govuk-width-container app-print-hide">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="govuk-heading-l govuk-!-padding-top-0">
        What you can do next
      </h2>
      <p class="govuk-body">
        <strong>If you are interested in working with this tuition partner</strong>
      </p>
      <p class="govuk-body">
        You can contact them to further discuss your pupils' needs.<br>
        We will also give you guidance about what information you should give to them.<br>
        You can also discuss any flexibility around your requirements.
      </p>
      <a class="govuk-button" data-module="govuk-button" draggable="false" href="@tpDetails" role="button">View tuition partner’s contact details</a>
      <p class="govuk-body">
        <strong>If you do not want to contact this tuition partner</strong>
      </p>

      <p class="govuk-body">
        Select ‘Return to your enquiry list’ to view responses from other tuition partners.<br>
        We will not inform @Model.Data.TuitionPartnerName that you have chosen not to contact them.<br>
      </p>

      <p class="govuk-body">
        <a href="@backLink" class="govuk-link">Return to your enquiry list</a>
      </p>
    </div>
  </div>
</div>