@page "/enquiry/{supportReferenceNumber}/{tuitionPartnerSeoUrl}/contact-details"
@model UI.Pages.Enquiry.Manage.EnquirerViewTuitionPartnerDetails
@{
  var baseServiceUrl = Request.GetBaseServiceUrl();
  var backLink = $"{baseServiceUrl}/enquiry/{Model.SupportReferenceNumber}/{Model.TuitionPartnerSeoUrl}?Token={@Model.Data.Token}";
  var allList = $"{baseServiceUrl}/enquiry/{Model.SupportReferenceNumber}?Token={@Model.Data.Token}";

  ViewData["Title"] = "Contact " + Model.Data.TuitionPartnerName;
  ViewData["BackLinkHref"] = backLink;
  ViewData["BackLinkText"] = "Back to view tuition partner's response";
  ViewData["IncludePrintPage"] = true;
}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Reference number @Model.Data.SupportReferenceNumber</span>
    <h1 class="govuk-heading-l">
      Contact @Model.Data.TuitionPartnerName
    </h1>

    <h2 class="govuk-heading-m">
      When contacting this tuition partner
    </h2>

    <p class="govuk-body">
      You should reveal:
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-4">
      <li>your reference number @Model.Data.SupportReferenceNumber</li>
      <li>the school you’re from</li>
      <li>that you’ve discovered them through this service (Find a tuition partner)</li>
    </ul>

    <h2 class="govuk-heading-m solid-line-top">
      Contact information
    </h2>

    <p class="govuk-body">
      Email: <a href="mailto:@(Model.Data.TuitionPartnerEmailAddress)" class="govuk-link">@Model.Data.TuitionPartnerEmailAddress</a>
    </p>
    <p class="govuk-body">
      Contact number: <a href="tel:@Model.Data.TuitionPartnerPhoneNumber" class="govuk-link">@Model.Data.TuitionPartnerPhoneNumber</a>
    </p>
    <p class="govuk-body">
      Website: <a href="@Model.Data.TuitionPartnerWebsite" class="govuk-link" rel="noreferrer noopener" target="_blank">@(Model.Data.TuitionPartnerWebsite) (opens in new tab)</a>
    </p>

    <h2 class="govuk-heading-m solid-line-top">
      Managing responses from other tuition partners
    </h2>

    <div class="govuk-inset-text app-print-hide">
      @Model.Data.TuitionPartnerName has been marked as ‘interested’ in your list of responses.
    </div>

    <p class="govuk-body">
      <a class="govuk-link" href="@allList">Return to your tuition enquiry and list of responses</a>
    </p>

  </div>
</div>