@page
@model UI.Pages.Enquiry.Respond.AllEnquirerResponses
@using GovUk.Frontend.AspNetCore.TagHelpers
@{
    ViewData["Title"] = "Enquirer View All Responses";
    ViewData["BackLinkHref"] = "/";
    ViewData["IncludePrintPage"] = true;
}

<div class="govuk-grid-row app-print-hide">
    <div class="govuk-grid-column-full">

        <govuk-error-summary>
            <govuk-error-summary-item asp-for="Data.ErrorMessage"/>
        </govuk-error-summary>

        <h1 class="govuk-heading-l">
            <span>View responses to your tuition enquiry</span>
        </h1>

        <govuk-details open="false">
            <govuk-details-summary>
                Reveal your enquiry
            </govuk-details-summary>
            <govuk-details-text>
                @Model.Data?.EnquiryText
            </govuk-details-text>
        </govuk-details>

    </div>
</div>

<h1 class="govuk-heading-l">
    <span>All tuition partner responses</span>
</h1>

@if (!Model.Data.EnquirerViewResponses.Any())
{
    <div class="govuk-inset-text">
        You have 0 out of @Model.Data.NumberOfTpEnquiryWasSent responses at the moment.
    </div>
}

@if (Model.Data.EnquirerViewResponses.Any())
{
    <table class="govuk-table" data-testid="enquirer-view-all-responses-table">
        <caption class="govuk-visually-hidden">View responses to your tuition enquiry</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"> Date </th>
            <th class="govuk-table__header" scope="col"> Tuition Partner </th>
            <th class="govuk-table__header" scope="col"> Their Response </th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">

        @foreach (var item in @Model.Data.EnquirerViewResponses!)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    @item.EnquiryResponseDate?.ToString("dd/MM/yyyy")
                </td>
                <td class="govuk-table__cell">
                    @item.TuitionPartnerName
                </td>
                <td class="govuk-table__cell">
                    <a href="@item.EnquirerEnquiryResponseLink" class="govuk-link" data-testid="view-enquiry-response-link">
                        View response from @item.TuitionPartnerName and contact info
                    </a>
                </td>
            </tr>
        }

        </tbody>
    </table>
}