@page "/enquiry-response/{tuitionPartnerSeoUrl}/{supportReferenceNumber}/check-your-answers"
@model UI.Pages.Enquiry.Respond.CheckYourAnswers

@{
  var backUrl = $"/enquiry-response/{Model.Data.TuitionPartnerSeoUrl}/{Model.Data.SupportReferenceNumber}?Token={@Model.Data.Token}";
  ViewData["Title"] = "Check your answers";
  ViewData["BackLinkHref"] = backUrl;
  ViewData["IncludePrintPage"] = true;
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <govuk-error-summary>
      <govuk-error-summary-item asp-for="Data.KeyStageAndSubjectsText" />
      <govuk-error-summary-item asp-for="Data.TuitionTypeText" />
      <govuk-error-summary-item asp-for="Data.TutoringLogisticsText" />
      <govuk-error-summary-item asp-for="Data.SENDRequirementsText" />
      <govuk-error-summary-item asp-for="Data.AdditionalInformationText" />
    </govuk-error-summary>

    <h1 class="govuk-heading-l">
      Check your answers before sending your response
    </h1>
    <p class="govuk-body">This is an enquiry about your tuition services from a school in @Model.Data.LocalAuthorityDistrict.</p>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9 cya-summary-tp">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Key stage and subjects:
          <ul class="govuk-list govuk-list--bullet">
            @foreach (var item in Model.Data.EnquiryKeyStageSubjects)
            {
              <li>
                @item
              </li>
            }
          </ul>
        </dt>
        <dd class="govuk-summary-list__value">
          <span class="display-pre-wrap">@Model.Data.KeyStageAndSubjectsText</span>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href=@backUrl#Data_KeyStageAndSubjectsText>
            Change<span class="govuk-visually-hidden"> key stage and subjects</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of tuition:
          <p class="govuk-body">@Model.Data.EnquiryTuitionType</p>
        </dt>
        <dd class="govuk-summary-list__value">
          <span class="display-pre-wrap">@Model.Data.TuitionTypeText</span>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href=@backUrl#Data_TuitionTypeText>
            Change<span class="govuk-visually-hidden"> type of tuition </span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Tuition plan:
          <p class="govuk-body"><span class="display-pre-wrap">@Model.Data.EnquiryTutoringLogistics</span></p>
        </dt>
        <dd class="govuk-summary-list__value">
          <span class="display-pre-wrap">@Model.Data.TutoringLogisticsText</span>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href=@backUrl#Data_TutoringLogisticsText>
            Change<span class="govuk-visually-hidden"> tuition plan </span>
          </a>
        </dd>
      </div>
      @if (!string.IsNullOrWhiteSpace(Model.Data.EnquirySENDRequirements))
      {
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            SEND requirements:
            <p class="govuk-body">
              <span class="display-pre-wrap">@Model.Data.EnquirySENDRequirements</span>
            </p>
          </dt>
          <dd class="govuk-summary-list__value">
            <span class="display-pre-wrap">@(string.IsNullOrWhiteSpace(Model.Data.SENDRequirementsText) ? StringConstants.NotSpecified : Model.Data.SENDRequirementsText)</span>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href=@backUrl#Data_SENDRequirementsText>
              Change<span class="govuk-visually-hidden"> SEND requirements</span>
            </a>
          </dd>
        </div>
      }
      @if (!string.IsNullOrWhiteSpace(Model.Data.EnquiryAdditionalInformation))
      {
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Other school considerations:
            <p class="govuk-body">
              <span class="display-pre-wrap">@Model.Data.EnquiryAdditionalInformation</span>
            </p>
          </dt>
          <dd class="govuk-summary-list__value">
            <span class="display-pre-wrap">@(string.IsNullOrWhiteSpace(Model.Data.AdditionalInformationText) ? StringConstants.NotSpecified : Model.Data.AdditionalInformationText)</span>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href=@backUrl#Data_AdditionalInformationText>
              Change<span class="govuk-visually-hidden"> other school considerations</span>
            </a>
          </dd>
        </div>
      }
    </dl>
    <form method="post">
      <input type="hidden" name="answers-checked" value="true">
      <button data-prevent-double-click="true" class="govuk-button app-print-hide" data-module="govuk-button">
        Submit
      </button>
      <input asp-for="Data.KeyStageAndSubjectsText" type="hidden" />
      <input asp-for="Data.TuitionTypeText" type="hidden" />
      <input asp-for="Data.TutoringLogisticsText" type="hidden" />
      <input asp-for="Data.SENDRequirementsText" type="hidden" />
      <input asp-for="Data.AdditionalInformationText" type="hidden" />
      <input asp-for="Data.EnquiryTuitionType" type="hidden" />
      <input asp-for="Data.EnquiryTutoringLogistics" type="hidden" />
      <input asp-for="Data.EnquirySENDRequirements" type="hidden" />
      @if (Model.Data.EnquiryKeyStageSubjects.Any())
      {
        @for (int i = 0; i < Model.Data.EnquiryKeyStageSubjects.Count(); i++)
        {
          <input asp-for="@Model.Data.EnquiryKeyStageSubjects![i]" type="hidden" />
        }
      }
      <input asp-for="Data.EnquiryAdditionalInformation" type="hidden" />
      <input asp-for="Data.LocalAuthorityDistrict" type="hidden" />
      <input asp-for="Data.TuitionPartnerSeoUrl" type="hidden" />
      <input asp-for="Data.SupportReferenceNumber" type="hidden" />
      <input asp-for="Data.Token" type="hidden" />
    </form>
  </div>
</div>
