@page
@model UI.Pages.Enquiry.Respond.EnquirerResponse
@{
    var baseServiceUrl = Request.GetBaseServiceUrl();
    var backLink = $"{baseServiceUrl}/enquiry/respond/all-enquirer-responses?token={@Model.Data.EnquirerViewAllResponsesToken}";
    
    ViewData["Title"] = "View a response";
    ViewData["BackLinkText"] = "Back to view all your responses";
    ViewData["BackLinkHref"] = backLink;
    ViewData["IncludePrintPage"] = true;
}


<div class="govuk-grid-row app-print-hide" xmlns="http://www.w3.org/1999/html">
    <div class="govuk-grid-column-full">

        <govuk-error-summary>
            <govuk-error-summary-item asp-for="ErrorMessage"/>
        </govuk-error-summary>
        
        <h1 class="govuk-heading-l">
            <span>View @Model.Data.TuitionPartnerName’s <br/> response</span>
        </h1>

        <p class="govuk-body">
            You can view and compare their response to your tuition requirements.
            This will help you decide if its a good match to <br/> your pupils' needs.
        </p>
        
        <p class="govuk-body">
            After you’ve viewed their response, you can either:
        </p>
        <ul class="govuk-list govuk-list--bullet">

            <li>
                contact them to discuss your enquiry such as budget, funding, alternative arrangements and tutors available.
            </li>

            <li>
                return to your enquiry list to view other tuition partner’s responses
            </li>
        </ul>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--visible govuk-!-padding-bottom-0 govuk-!-margin-top-0 govuk-!-margin-bottom-7">

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h2 class="govuk-heading-l govuk-!-padding-top-0">
                Their response to your enquiry
            </h2>

            <h3 class="govuk-heading-m">
                <span>Key stage and subjects:</span>
            </h3>
        
            <p class="govuk-body govuk-!-margin-bottom-0">
                <strong>Your requirement</strong>
            </p>

            <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-4">
                @foreach (var item in Model.Data.EnquiryKeyStageSubjects)
                {
                    <li>
                        @item
                    </li>
                }
            </ul>

            <p class="govuk-body govuk-!-margin-bottom-0">
                <strong>@Model.Data.TuitionPartnerName’s response</strong>
            </p>
            <p class="govuk-body">
                <span class="display-pre-wrap">@Model.Data.KeyStageAndSubjectsText</span>
            </p>

            <h3 class="govuk-heading-m">
                <span>Tuition type:</span>
            </h3>

            <p class="govuk-body govuk-!-margin-bottom-0">
                <strong>Your requirement</strong>
            </p>
            <p class="govuk-body">
                @Model.Data.EnquiryTuitionType
            </p>

            <p class="govuk-body govuk-!-margin-bottom-0">
                <strong>@Model.Data.TuitionPartnerName’s response</strong>
            </p>
            <p class="govuk-body">
                <span class="display-pre-wrap">@Model.Data.TuitionTypeText</span>
            </p>

            <h3 class="govuk-heading-m">
                <span>Tuition plan:</span>
            </h3>
            <p class="govuk-body govuk-!-margin-bottom-0">
                <strong>Your requirement</strong>
            </p>
            <govuk-details open="false">
                <govuk-details-summary>
                    View your tuition requirement
                </govuk-details-summary>
                <govuk-details-text>
                    <span class="display-pre-wrap">@Model.Data.EnquiryTutoringLogistics</span>
                </govuk-details-text>
            </govuk-details>
            <p class="govuk-body govuk-!-margin-bottom-0">
                <strong>@Model.Data.TuitionPartnerName’s response</strong>
            </p>
            <p class="govuk-body">
                <span class="display-pre-wrap">@Model.Data.TutoringLogisticsText</span>
            </p>

            @if (!string.IsNullOrWhiteSpace(Model.Data.EnquirySENDRequirements))
            {
                <h3 class="govuk-heading-m">
                    <span>Can you support the following SEND requirements:</span>
                </h3>
                <p class="govuk-body govuk-!-margin-bottom-0">
                    <strong>Your requirement</strong>
                </p>
                <govuk-details open="false">
                    <govuk-details-summary>
                        View your tuition requirement
                    </govuk-details-summary>
                    <govuk-details-text>
                        <span class="display-pre-wrap">@Model.Data.EnquirySENDRequirements</span>
                    </govuk-details-text>
                </govuk-details>
                <p class="govuk-body govuk-!-margin-bottom-0">
                    <strong>@Model.Data.TuitionPartnerName’s response</strong>
                </p>
                <p class="govuk-body">
                    <span class="display-pre-wrap">@Model.Data.SENDRequirementsText</span>
                </p>
            }

            @if (!string.IsNullOrWhiteSpace(Model.Data.EnquiryAdditionalInformation))
            {
                <h3 class="govuk-heading-m">
                    <span>Other tuition considerations?:</span>
                </h3>
                <p class="govuk-body govuk-!-margin-bottom-0">
                    <strong>Your requirement</strong>
                </p>
                <govuk-details open="false">
                    <govuk-details-summary>
                        View your tuition requirement
                    </govuk-details-summary>
                    <govuk-details-text>
                        <span class="display-pre-wrap">@Model.Data.EnquiryAdditionalInformation</span>
                    </govuk-details-text>
                </govuk-details>
                <p class="govuk-body govuk-!-margin-bottom-0">
                    <strong>@Model.Data.TuitionPartnerName’s response</strong>
                </p>
                <p class="govuk-body">
                    <span class="display-pre-wrap">@Model.Data.AdditionalInformationText</span>
                </p>
            }
        </div>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--visible govuk-!-padding-bottom-0 govuk-!-margin-top-0 govuk-!-margin-bottom-7">

<div class="govuk-width-container">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 class="govuk-heading-l govuk-!-padding-top-0">
            What you can do next
        </h2>
        <p class="govuk-body">
            <strong>If you are interested in working with this tuition partner</strong>
        </p>
        <p class="govuk-body">
            You can contact them to further discuss your pupils' needs. <br/>
            We will also give you guidance about what information you should give to them. <br/>
            Even if the tuition partner can’t fully meet all of your tuition requirements, you can still discuss any flexibility.
        </p>
        <govuk-button-link href="/">View tuition partner’s contact details</govuk-button-link>

        <p class="govuk-body">
            <strong>If you do not want to contact this tuition partner</strong>
        </p>

        <p class="govuk-body">
            Select ‘cancel’ to return to the enquiry list. <br/>
            This will let you view responses from other tuition partners. <br/>
            We will not inform [tuition_partner_name] that you have chosen not to contact them. <br/>
        </p>
        
        <a href="@backLink" class="govuk-button govuk-button--secondary" data-module="govuk-button">Cancel</a>
    </div>
</div>
</div>