@page
@using Application.Extensions
@model WhichKeyStages
@{
    Layout = "_Layout";
    ViewData["Title"] = "Which key stages do you need tutoring support for?";
	ViewData["Service Name"] = "Find a tuition partner";
	ViewData["Service Home Page"] = nameof(Index);
}

<govuk-back-link asp-page="@nameof(Index)" data-module="history-back-link" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <govuk-error-summary>
            <govuk-error-summary-item asp-for="Data.KeyStages" />
        </govuk-error-summary>

        <h1 class="govuk-heading-l">Which key stages do you need tutoring support for?</h1>
        <p class="govuk-body">Select all of the key stages that apply</p>

        <form method="post">
            <govuk-checkboxes asp-for="Data.KeyStages">
                @foreach (var item in Model.Data.AllKeyStages)
                {
                    <govuk-checkboxes-item id="@item.Name.ToString().ToSeoUrl()" value="@item.Name" checked="@item.Selected">@item.Name.DisplayName()</govuk-checkboxes-item>
                }
            </govuk-checkboxes>

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
            </div>

            <input asp-for="Data.Postcode" hidden />
            <input asp-for="Data.Subjects" hidden />
        </form>
    </div>
</div>
