@page
@using Application.Extensions
@model WhichSubjects
@{
    Layout = "_Layout";
    ViewData["Title"] = "Find a Tuition Partner - Subjects";
	ViewData["Service Name"] = "Find a tuition partner";
}

<govuk-back-link asp-page="@nameof(WhichKeyStages)" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <govuk-error-summary>
            <govuk-error-summary-item asp-for="Data.Subjects" />
        </govuk-error-summary>

        <h1 class="govuk-heading-l">Which subjects do you need tutoring support for?</h1>
        <p class="govuk-body">Select all of the subjects that apply</p>

        <form method="post">
            @foreach (var item in @Model.Data.AllSubjects.Keys)
            {
                <h2 class="govuk-heading-m">@item.DisplayName() subects</h2>

                <govuk-checkboxes asp-for="Data.Subjects">
                    @foreach (var subject in @Model.Data.AllSubjects[item])
                    {
                        <govuk-checkboxes-item value="@item-@subject.Name" checked="@subject.Selected">@subject.Name</govuk-checkboxes-item>
                    }
                </govuk-checkboxes>
            }

            <div class="govuk-button-group">
                <govuk-button type="submit">Continue</govuk-button>
            </div>

            <input asp-for="Data.Postcode" hidden />
        </form>
    </div>
</div>
